<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/logo/favicon.ico' %}"/>
</head>
<body>
<img height="128" src="{% static 'images/logo/YarninitLogoLong.svg'%}">
</body>

<style>
    html, body {
        height: 100%;
        background-color: #FF7578;
        text-align: center;
    }
</style>

</html>